<?php

return [
    'logging' => [
        'path'  => 'php://stdout',
        'level' => \Monolog\Level::Info,
    ],
    'digitalocean' => [
        'token'    => '',
        'image_id' => 'litespeedtechnol-cyberpanel-20-04',
    ],
    'droplet-1' => [
        'server_ip'           => '',
        'root_password'       => '',
        'mysql_root_password' => '',
        'cyberpanel_port'     => 8090,
        'cyberpanel_admin'    => 'admin',
        'cyberpanel_password' => '',
    ],
    'droplet-2' => [
        'server_ip'           => '',
        'root_password'       => '',
        'mysql_root_password' => '',
        'cyberpanel_port'     => 8090,
        'cyberpanel_admin'    => 'admin',
        'cyberpanel_password' => '',
    ],
    // Namecheap API requires whitelisting the IP of the server this script is running on
    'namecheap' => [
        'username' => '',
        'token'    => '',
    ],
    'godaddy' => [
        'api_key'    => '',
        'api_secret' => '',
    ],
];
